html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  padding: 10px 20px;
  align-items: center;
  padding-bottom: 0;
}
.header img{
  height: 80px;
  border-radius: 80px;
  margin-left: auto;
}
.header input{
  margin-left: 10px;
  font-size: 2rem;
  border-radius: 15px;
  padding: 3px 5px;
  border: none;
  background-color: rgb(233, 233, 233);
}
.main hr{
  margin: 0 auto;
  height: 1px;
  width: 98%;
}