.comment{
    display: flex;
    align-items: center;
    gap: 15px;
}
.comment-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
}
.comment-info input{
    width: 100%;
}
.comment svg{
    height: 20px;
}
