.post{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 600px;
}
.post p{
    font-size: 3.4rem;
    margin-top: 30px;
}
.profilePhoto-data{
    display: flex;
    align-items: center;
    gap: 8px;
}
.profilePhoto-data-text{
    display: flex;
    flex-direction: column;
}
.profilePhoto-data-text h2{
    font-weight: 500;
    color: rgb(101, 101, 101);
}
.dots{
    margin-left: auto;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.profileImg{
    display: inline;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    object-fit: cover;
}
.commentSection img{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    object-fit: cover;
}
.comments-tag{
    display: flex;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 5px;
}
.comments-tag h2{
    word-spacing: 2px;
}
.comments-tag h3{
    margin-right: 8px;
    font-size: 1.65rem;
    font-weight: 500;
}
.comments-tag h4{
    margin-right: 8px;
    font-size: 1.65rem;
    margin-left: auto;
    cursor: pointer;
}
.like-comment-btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.addComment{
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}
.addComment input{
    width: 280px;
}
